@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700|Roboto&display=swap');


*{-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Roboto', sans-serif;}
html, body{margin: 0; padding: 0;}
header, section, article, nav, footer{margin: 0; padding: 0; display: block;}
header::after, section::after, article::after, nav::after, footer::after{content: ""; clear: both; display: block;}
h1, h2, h3, h4, h5, h6{margin: 0; padding: 0; font-family: 'Orbitron', 'Roboto';}
p, i{margin: 0; padding: 0; font-family: 'Roboto';}
ul, ol{list-style: none; margin: 0; padding: 0;}
a{text-decoration: none;}
.clear{clear: both;}
.btnText{font-family: 'Orbitron';}
.link{opacity: 0.7; transition: opacity 0.3;}
.link:hover{opacity: 1;}
h2.sectionTitle{font-size: 40px; line-height: 60px; color: #333; text-align: center; padding: 60px 0; border-bottom: 1px solid #777;}



/* Slider Part Start */
header{width: 100%; height: 100vh; position: relative;}
.headerFrame{height: auto; overflow: hidden;}
.headerFrame .headerBg{width: 700%; height: 100vh;}
.headerFrame .headerBg .slide{width: calc(100% / 7); height: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: cover; float: left;}
header .headerDarkBg{width: 100%; height: 100vh; background-color: rgba(0,0,0,0.4); position: absolute; top: 0; left: 0;}
/* Slider Part End */



/* Top Menu Bar Start */
#topBar{width: 100%; height: 100px; border-bottom: 1px solid #fff; position: absolute; top: 0;}
#topBar .frame{width: 1200px; height: 100%; margin: 0 auto; padding: 0 10px;}


#topBar .frame .logo{float: left; padding-top: 30px;}
#topBar .frame .logo a{display: block; width: 139px; height: 40px; background: url(../img/icon/img-logofull.png) 50% 50% no-repeat; background-size: contain;}

#topBar .frame .mainMenu{float: right;}
#topBar .frame .mainMenu ul{}
#topBar .frame .mainMenu ul li{float: left; text-align: center;}
#topBar .frame .mainMenu ul li a{display: block; font-size: 18px; font-weight: bold; color: #fff; margin: 0 20px; line-height: 100px;}


#topBar .frame .mainMenu ul li:last-child a{padding: 0 15px; width: 56px; height: 100px; position: relative;}
#topBar .frame .mainMenu ul li a span{width: 26px; height: 4px; background: #fff; border-radius: 4px; display: block; position: absolute;}
#topBar .frame .mainMenu ul li a span:last-child{margin-bottom: 0;}
.f_hamburger{top: 38px; transition: transform 0.3s;}
.f_hamburger.active{transform: rotate(45deg);}
.s_hamburger{top: 46px; transition: transform 0.3s;}
.t_hamburger{top: 54px; transition: transform 0.3s;}
.s_hamburger.active, .t_hamburger.active{transform: rotate(-45deg);}

#topBar.sticky{position: fixed; top:0; left:0; z-index:99; background: rgba(0,0,0,0.7);}
#topBar .mobileMenu{display: none;}

.mobileSubMenu{background: rgba(0,0,0,0.8); width: 100%; position: fixed; top: 100px; left: 0; display: none;}
.mobileSubMenu li{float: left; width: 50%; line-height: 60px;}
.mobileSubMenu li a{display: block; font-size: 16px; color: #fff; text-align: center;}
/* Top Menu Bar End */



/* Page Section Start */
#pageSection{width: 1200px; height: 100%; margin: 0 auto; display: table;}
#pageSection .frame{display: table-cell; text-align: center; vertical-align: middle;}


#pageSection .subTitle{font-size: 20px; color: #fff;}
#pageSection .mainTitle{font-size: 80px; color: #fff; margin-top: 60px;}


#pageSection .searchSection{width: 66.64%; height: 50px; border: 5px solid #000; margin: 0 auto; background: #fff; border-radius: 8px; margin-top: 115px;}
#pageSection .searchSection img{width: 26px; height: 26px; float: left; margin-left: 10px; margin-top: 7px;}
#pageSection .searchSection input{width: calc(100% - 36px); height: 40px; float: right; padding-left: 10px; border: none;}
#pageSection .recoWord{font-size: 16px; color: #fff; margin-top: 10px;}


#pageSection .moreBtn{width: 33.32%; height: 60px; margin: 0 auto; border: 1px solid #fff; margin-top: 60px; cursor: pointer; position: relative;}
#pageSection .moreBtn .moreBtn_bg{width: 0%; height: 58px; background: rgba(255,255,255,0.2); position: absolute}
#pageSection .moreBtn .btnText{width: 100%; font-size: 20px; line-height: 58px; color: #fff; text-align: center; position: absolute;}


#pageSection .nextBtn{cursor: pointer;}
#pageSection .nextBtn .nextBtn_topLine{width: 8.33%; height: 1px; background: #fff; position: absolute; top: 50%; right: 0;}
#pageSection .nextBtn .nextBtn_botLine{width: 8.33%; height: 1px; background: #fff; position: absolute; top: 50%; right: 0}
#pageSection .nextBtn .nextBtn_topText{font-size: 20px; color: #fff; position: absolute; top: 50%; right: 8.33%; transform: translate(0, -100%);}
#pageSection .nextBtn .nextBtn_botText{font-size: 20px; color: #fff; position: absolute; top: 50%; right: 8.33%;}


#pageSection .prevBtn{cursor: pointer;}
#pageSection .prevBtn .prevBtn_topLine{width: 8.33%; height: 1px; background: #fff; position: absolute; top: 50%; left: 0;}
#pageSection .prevBtn .prevBtn_botLine{width: 8.33%; height: 1px; background: #fff; position: absolute; top: 50%; left: 0;}
#pageSection .prevBtn .prevBtn_topText{font-size: 20px; color: #fff; position: absolute; top: 50%; left: 8.33%; transform: translate(0, -100%);}
#pageSection .prevBtn .prevBtn_botText{font-size: 20px; color: #fff; position: absolute; top: 50%; left: 8.33%;}
/* Page Section End */



/* Login Window Start */
#loginSection{width: 100%; height: 100vh; position: fixed; top: 0; left: 0; display: none; z-index: 9991;}
#loginSection .darkBg{width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); }
#loginSection .loginWindow{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 530px; height: 650px; border-radius: 4px; background: #fff;}
#loginSection .loginWindow .closeBtn{font-size: 40px; margin: 0; color: #fff; line-height: 1; position: absolute; top: -50px; right: -40px; cursor: pointer;}

#loginSection .loginWindow h3{margin-top: 70px; font-size: 25px; line-height: 31px; color: #777; text-align: center;}
#loginSection .loginWindow p{margin-top: 20px; font-size: 16px; line-height: 1; color: #777; text-align: center;}
#loginSection .loginWindow p>a{display: block; font-size: 16px; color: #000; line-height: 1; text-align: center;}

#loginSection .loginWindow .loginInputBox{width: 50%; margin: 60px auto;}
#loginSection .loginWindow .loginInputBox label{display: block; font-size: 16px; color: #777; margin-top: 20px; padding-left: 10px;}
#loginSection .loginWindow .loginInputBox input{width: 100%; height: 30px; margin-top: 10px; padding-left: 10px; border: 1px solid #777; border-radius: 4px;}

#loginSection .loginBtn{margin: 90px auto 0; width: 160px; height: 30px; background: #777; border-radius: 4px; cursor: pointer;}
#loginSection .loginBtn:hover{background: #333;}
#loginSection .loginBtn>p{display: block; font-size: 20px; color: #fff; line-height: 30px;}
/* Login Window End */



/* Join Window Start */
#joinSection{width: 100%; height: 100vh; position: fixed; top: 0; left: 0; display: none; z-index: 999;}
#joinSection .darkBg{width: 100%; height: 100%; background-color: rgba(0,0,0,0.7);}
#joinSection .joinWindow{position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 530px; height: 650px; border-radius: 4px; background: #fff;}
#joinSection .joinWindow .closeBtn{font-size: 40px; margin: 0; color: #fff; line-height: 1; position: absolute; top: -50px; right: -40px; cursor: pointer;}

#joinSection .joinWindow h3{margin-top: 70px; font-size: 25px; line-height: 31px; color: #777; text-align: center;}
#joinSection .joinWindow p{margin-top: 20px; font-size: 16px; line-height: 1; color: #777; text-align: center;}
#joinSection .joinWindow p>a{display: block; font-size: 16px; color: #000; line-height: 1; text-align: center;}

#joinSection .joinWindow .joinInputBox{width: 50%; margin: 60px auto;}
#joinSection .joinWindow .joinInputBox label{display: block; font-size: 16px; color: #777; margin-top: 10px; padding-left: 10px;}
#joinSection .joinWindow .joinInputBox input{width: 100%; height: 30px; margin-top: 5px; padding-left: 10px; border: 1px solid #777; border-radius: 4px;}

#joinSection .joinBtn{margin: 90px auto 0; width: 160px; height: 30px; background: #777; border-radius: 4px; cursor: pointer;}
#joinSection .joinBtn:hover{background: #333;}
#joinSection .joinBtn>p{display: block; font-size: 20px; color: #fff; line-height: 30px;}
/* Join Window End */



/* section part Start */
section{width: 100%; height: auto;}
#content{width: 1200px; height: auto; margin: 0 auto; display: block;}
#content::after{content: ""; display: block; clear: both;}
/* section part End */



/* Top Button part Start */
section .topBtn{position: fixed; bottom: 40px; right: 40px; width: 40px; height: 40px; background: #333; border-radius: 4px; cursor: pointer; display: none;}
section .topBtn i{display: block; font-size: 30px; line-height: 40px; color: #fff; text-align: center;}
/* Top Button part ENd */



/* footer Part Start */
#footer{width: 100%; height: auto;}
#footer .frame{width: 1200px; height: auto; margin: 0 auto; padding: 40px 10px 60px; border-top: 1px solid #777;}
#footer .frame .secFrame:after{content: ""; display: block; clear: both;}

#footer .frame .secLeft ul li{float: left; margin: 0 10px}
#footer .frame .secLeft ul li a{display: block; font-size: 16px; line-height: 40px; color: #333;}

#footer .frame .secRight{float: right;}
#footer .frame .secRight ul li{float: left; margin: 0 10px;}
#footer .frame .secRight ul li a{display: block; font-size: 30px; line-height: 40px; color: #333;}

#footer .frame .footerText{text-align: center;}
#footer .frame .footerText h3{color: #333;}
#footer .frame .footerText p{padding-top: 10px; font-size: 13px; color: #777;}
/* footer Part End */



/* Sub Section Fullscreen PopUp Part Start*/
.imgPopUpWindow{position: fixed; top: 0; left: 0; width: 100%; height: 100vh; z-index: -3; opacity: 0; display: none; transition: opacity 0.5s;}
.imgPopUpWindow.active{opacity: 1; display: block; z-index: 999;}
.imgPopUpWindow .blackBg{position: absolute; width: 100%; height: 100%; background-color: rgba(0,0,0,0.7); z-index: 1;}
.imgPopUpWindow .imgPopup{position: absolute; width: 85%; height: 85%; top: 50%; left: 50%; transform: translate(-50%, -50%); border-radius: 8px; background-color: #fff; padding: 20px; box-shadow: 0 0 8px #000; z-index: 2;}
.imgPopUpWindow .imgPopup .close_btn{font-size: 40px; margin: 0; color: #fff; line-height: 1; position: absolute; top: -50px; right: -40px; cursor: pointer;}
.imgPopUpWindow .imgPopup .popupImg{width: 100%; height: 100%; background-position: 50% 50%; background-repeat: no-repeat; background-size: contain;}
/* Sub Section Fullscreen PopUp Part End*/



/* Media Query Part Start */
@media (max-width : 1199px){
    #topBar .frame{width: 100%;}
    #topBar .frame .mainMenu ul li{display: none;}
    #topBar .frame .mainMenu ul li:last-child{display: block;}

    #pageSection{width: 100%;}
    #pageSection .mainTitle{font-size: 10vw;}
    #pageSection .subTitle{display: none;}
    #pageSection .searchSection{width: 50%;}
    #pageSection .moreBtn{width: 40%; height: 40px;}
    #pageSection .moreBtn .moreBtn_bg{height: 38px;}
    #pageSection .moreBtn .btnText{font-size: 16px; line-height: 38px;}

    #footer .frame{width: 100%;}
}

@media (max-width : 575px){
    #pageSection .searchSection{width: 80%;}

    #loginSection .loginWindow{width: 90%; height: 9
        0%;}
    #joinSection .joinWindow{width: 90%; height: 90%;}
    #joinSection .joinWindow .joinInputBox{margin: 30px auto;}
    #loginSection .loginWindow .loginBtn, #joinSection .joinWindow .joinBtn{margin-top: 10px;}
    #loginSection .loginWindow .closeBtn, #joinSection .joinWindow .closeBtn{font-size: 40px; margin: 0; color: #333; line-height: 1; position: absolute; top: 40px; right: 40px; cursor: pointer;}
    .imgPopUpWindow .imgPopup .close_btn{font-size: 40px; margin: 0; color: #fff; line-height: 1; position: absolute; top: -50px; right: -10px; cursor: pointer;}

    

    #footer .frame .secFrame{text-align: center; margin-bottom: 10px;}
    #footer .frame .secLeft ul{font-size: 0;}
    #footer .frame .secLeft ul li{float: none; display: inline-block;}
    #footer .frame .secRight{float: none; font-size: 0;}
    #footer .frame .secRight ul li{float: none; display: inline-block;}
}
/* Media Query Part End */